.Footer {
    .padding();
    .section-padding(@ptbp: 20px; @pbbp: 20px);
    background-color: @mint;
    text-align: center;
    clear: both;
}

.Footer-copyright {
    .p;
}

.Footer-social {
    .reset-list;
    display: flex;
    justify-content: center;
}
