.Intro {
    .section-padding(@ptbp: 100px; @pbbp: 100px);
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.Intro-image_wrapper{
    .col-with_margins(3; min; @vp-sm);
    .col-with_margins--offset(.5; min; @vp-sm);
}

.Intro-image {
    /*border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 3px solid @light-gray;*/
    width: 100%;
    height: auto;
}

.Intro-content_wrapper {
    .col-with_margins(7; min; @vp-sm);
    .col-with_margins--offset(.5; min; @vp-sm);
}

.Intro-heading {
    .underline;
    margin: 0;
}

.Intro-subheading {
    font-family: @font-family;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0;
    width: 90%;
}

.Navigation {
    .section-padding(@pt: 30px; @pb: 30px; @ptbp: 30px; @pbbp: 30px);
}

.Navigation-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

.Navigation-list_item {
    margin: 0 15px;
}

.Navigation-link {
    color: #000000;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    transition: all 0.3s;
}

.Navigation-link {
    .button-primary();
}

.Intro-contact_info {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.Intro-contact_link {
    font-family: 'Open Sans', sans-serif;
    color: @black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.Intro-contact_link--separator {
    height: 20px;
    width: 2px;
    background-color: @purple;
}

.Intro-resume_link {

}
