.Resume {
    .section-padding();
    background-color: @white;
    text-align: center;
    @media (min-width: @vp-md) {
    }
}

.Resume-wrapper {
    .col-with_margins(8; min; @vp-sm);
    .col-with_margins--offset(2; min; @vp-sm);
}

.Resume-heading {
    .underline;
    margin-top: 0;
    margin-bottom: 30px;
}
